{% extends 'base.html' %}
{% load static %}
{% block title %} Employee list {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/employee_list.css' %}" type="text/css">
<div class="employee-list-table">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Serial</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Back</td>
                <td>@mdo</td>
            </tr>
            {% for user in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>Backs</td>
                <td>@mdo</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}